@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
    --main-font: 'Noto Sans', sans-serif;
}

div,
p,
a {
    word-break: keep-all;
}

* {
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    max-width: 100vw;
    overflow: hidden;
}