.forgot-password {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.forgot-password__form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 43em;
  height: 25em;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1em;
  padding: 3.12em;
}
.forgot-password__title {
  font-size: 2em;
}
.forgot-password__decription {
  font-size: 1.5em;
}
.forgot-password__input input {
  width: 100%;
  height: 3em;
  padding: 0 0.75em;
}
input:focus {
  outline: none;
}
/* button */
.forgot-password_button {
  display: flex;
  justify-content: space-between;
}
.button {
  width: 16em;
  height: 3.75em;
  text-align: center;
  border: 1px solid grey;
  padding-top: 0.75em;
  margin-top: 3.125em;
}
.element-form {
  margin-top: 0.5em;
}
.button-reset {
  background-color: #000;
  color: #fff;
}
.button-reset:hover {
  background-color: #fff;
  color: #000;
}
.button-backtosigin:hover {
  background-color: #000;
}
.button-backtosigin:hover a {
  color: #fff;
}
.button-backtosigin a {
  text-decoration: none;
  color: #000;
}
.button-backtosigin:hover .button-reset {
  background-color: #000;
  color: #fff;
}
.button-backtosigin a {
  padding: 1em 6.5em;
}
/* form-accountdetail */
.form-accountdetail > div {
  margin-top: 1em;
}
