.terms{
    width: 100%;
}

.container{
    padding-top: 150px;
    padding-bottom: 150px;
    width: 900px;
    font-size: 0.8rem;
    line-height: 23px;
    margin: 0 auto;
}

.container div:nth-child(2) ul {
    margin-left: 0px;
}

.container ul{
    padding-left: 15px;
}

.container ul li{
    list-style: disc;
}

.container p{
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .container{
        padding-top: 100px;
        padding-bottom: 100px;
        width: 600px;
        font-size: 0.6rem;
        line-height: 20px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .container{
        padding-top: 70px;
        padding-bottom: 70px;
        width: 300px;
        font-size: 0.5rem;
        line-height: 15px;
        margin: 0 auto;
        word-wrap: break-word;
    }
}