* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 8.75em;
  display: flex;
  height: 60em;
}
/* My account */

.myaccount-list {
  margin-left: 2em;
}
.title-myaccount > a {
  font-weight: 900;
  font-size: 1.5em;
}
div.my_account-list__item {
  margin-top: 1em;
  cursor: pointer;
}
.myaccount-name_page {
  margin-top: 1.5em;
  width: 100%;
  border: 1px solid gray;
  padding: 0.5em;
  display: none;
}
/* Form account detail */
/* title */
.account_detail-title {
  font-weight: 900;
  font-size: 1.5em;
}
.form-myaccount {
  display: fixed;
  width: 30%;
  position: fixed;
}
.form-accountdetail {
  width: 40%;
  margin-left: 30%;
}
.ip-max_with {
  width: 100%;
}

/* name */
.account_detail-name {
  display: flex;
  flex-wrap: nowrap;
}

.account_detail-name > div {
  width: 100%;
}
.account_detail-name input {
  width: 100%;
}
.account_detail-name__last_name input {
  width: 100%;
}

/* phone number */
.phone_number-input input {
  width: 100%;
}

/* checked private*/
.account_detail-pivate_seting input {
  margin-right: 0.45em;
}
/* button */
.account_detail-button {
  display: flex;
}
.account_detail-button button {
  width: 18em;
  height: 2.5em;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
}
.account_detail-button button:first-child {
  background-color: #000;
  color: #fff;
  margin-right: 1.5em;
}

.account_detail-button button:last-child {
  background-color: #fff;
  color: #000;
}
/* coupon infor */
.coupon-infor {
  margin-top: 2em;
  font-size: 1.1em;
  padding-left: 3em;
  line-height: 1.7em;
}
/* >= Tablet */
@media (max-width: 1023px) {
  .container {
    flex-direction: column;
  }
  .form-myaccount {
    position: static;
    width: 65%;
    margin-left: 20%;
  }
  .form-accountdetail {
    width: 50%;
  }
  .myaccount-name_page {
    display: block;
  }
  .item {
    display: none;
  }
}
@media (max-width: 739px) {
  .account_detail-button {
    display: flex;
    flex-direction: column;
  }
  .account_detail-button button {
    width: 100%;
    margin-top: 1em;
  }
  .phone_number-input > input:first-child {
    width: 18%;
    margin-right: 0.35em;
  }
  .phone_number-input > input:last-child {
    width: 78%;
  }
}
